<html>
    <title>[juegoNombre] en [nombrePagina]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body class="w3-black">
        <div class="w3-display-middle w3-center w3-round-medium w3-blue-grey w3-padding">
            <h1 id="title">Intercambio</h1>
            <div class="w3-row">
                <div class="w3-padding w3-col m2 l2">
                    <img id="this_user_img" src="img/profiles/1.jpg" alt="Profile Image" class="w3-image w3-circle w3-hover-shadow">
                    <span id="this_user_name" >[nombre 1]</span>
                </div>
                <div class="w3-padding w3-col m3 l3">
                    <h2 id="this_game_name">[Juego 1]</h2>
                    <img id="this_game_img" src="img/games/1.jpg" alt="Portada" class="w3-image w3-round w3-hover-shadow w3-animate-left">
                    
                    <button class="w3-margin-top w3-button w3-block w3-round w3-blue w3-hover-pale-blue w3-animate-opacity">Detalle</button>
                </div>
                <div class="w3-col m2 l2">
                        <div style="display:flex;justify-content:center;align-items:center;">
                            <i class="material-icons w3-xxxlarge">compare_arrows</i>
                        </div>
                </div>
                <div class="w3-padding w3-col m3 l3">
                    <h2 id="other_game_name">[Juego 2]</h2>
                    <img id="other_game_img" src="img/games/2.jpg" alt="Portada" class="w3-image w3-round w3-hover-shadow w3-animate-right">
                    
                    <button class="w3-margin-top w3-button w3-block w3-round w3-blue w3-hover-pale-blue w3-animate-opacity">Detalle</button>
                </div>
                <div class="w3-padding w3-col m2 l2">
                    <img id="other_user_img" src="img/profiles/2.jpg" alt="Profile Image" class="w3-image w3-circle w3-hover-shadow">                    
                    <span id="other_user_name">[nombre 2]</span>
                </div>
                <button id="exchangeButton" class="w3-button w3-block w3-round w3-green w3-hover-pale-green w3-large w3-animate-bottom">Proponer intercambio</button>                
            </div>
            
        </div>
    </body>
</html>

<script src="js/Bindings.js"></script>
<script src="js/Query.js"></script>

<script>
    // Query('test.json');
    var testJSON = JSON.parse(
    `{
    "title": "Tittleeeeee",
    "this_user_name": "Nico",
    "this_game_name": "PES",
    "other_game_name": "Guitar Hero",
    "other_user_name": "Alan",
    "exchangeButton": "Cambiar"
    }`);

    ShowData(testJSON);
</script>