<html>
    <title>Intercambio de Juegos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <body class="w3-grey">
        <div class="w3-display-middle w3-center w3-round-medium w3-white w3-padding">
            <img src="img/logo.png" alt="Logo">
            <h1 class="text-center">PlayGames</h1>
            <input type="search" id="searchedGame" class="w3-input w3-round-medium w3-margin w3-hover-green">
            <button type="submit" class="w3-button w3-round-medium w3-green">Buscar</button>
            <div class="w3-margin">
                <input type="checkbox" class="w3-check"><label>Xbox One</label>
                <input type="checkbox" class="w3-check"><label>PlayStation 4</label>
                <input type="checkbox" class="w3-check"><label>Xbox 360</label>
                <input type="checkbox" class="w3-check"><label>PlayStation 3</label>
                <input type="checkbox" class="w3-check"><label>Nintendo Switch</label>
            </div>
            
            <a href="#">Ver todos los juegos</a>
        </div>
    </body>
</html>