<html>
    <title>[juegoNombre] en [nombrePagina]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body class="w3-black">
        <div class="w3-display-middle w3-center w3-round-medium w3-blue-grey w3-padding w3-container">
            <h2>Sign Up</h2>
            <form action="" method="post">
                <input type="text" id="user_name" placeholder="Username" class="w3-input">
                <input type="password" id="user_password" placeholder="Password" class="w3-input">
                <input type="email" id="user_email" class="w3-input" placeholder="Email">
                <input type="submit" class="w3-margin-top w3-button w3-block w3-round w3-blue w3-hover-pale-blue w3-animate-opacity">
            </form>
        </div>
    </body>
</html>

<script src="js/Bindings.js"></script>
<script src="js/Query.js"></script>

<script>
    // Query('test.json');
    var testJSON = JSON.parse(
    `{
    "title": "Tittleeeeee",
    "this_user_name": "Nico",
    "this_game_name": "PES",
    "other_game_name": "Guitar Hero",
    "other_user_name": "Alan",
    "exchangeButton": "Cambiar"
    }`);

    ShowData(testJSON);
</script>