@model ProyectoT4.Models.Operacion



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RealizarPropuesta</title>
</head>
<body>
    <div>
        <h4>Operacion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

           <p>@ViewBag.Mensaje</p>


            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

        </dl>
    </div>
   
</body>
</html>
