<h2>Messages</h2>
<hr>
<ul class="w3-round-medium w3-border-green w3-border w3-dark-gray">
    <li class="w3-bar w3-hover-green">
        <img src="img/profiles/1.jpg" class="w3-bar-item w3-circle" style="width:85px">
        <div class="w3-bar-item">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
        </div>
    </li>
    <li class="w3-bar w3-hover-green">
        <img src="img/profiles/1.jpg" class="w3-bar-item w3-circle" style="width:85px">
        <div class="w3-bar-item">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
        </div>
    </li>
    <li class="w3-bar w3-hover-green">
        <img src="img/profiles/1.jpg" class="w3-bar-item w3-circle" style="width:85px">
        <div class="w3-bar-item">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
        </div>
    </li>
</ul>