<h2>Games</h2>
<hr>
<ul class="w3-round-medium w3-border-green w3-border w3-dark-gray">
    <li class="w3-bar w3-hover-green">
        <img src="img/games/1.jpg" class="w3-bar-item" style="width:85px">
        <div class="w3-bar-item">
            <span class="w3-large">[game]</span><br>
            <span>★★★★☆</span>
        </div>
    </li>
    <li class="w3-bar w3-hover-green">
        <img src="img/games/1.jpg" class="w3-bar-item" style="width:85px">
        <div class="w3-bar-item">
            <span class="w3-large">[game]</span><br>
            <span>★★★★☆</span>
        </div>
    </li>
    <li class="w3-bar w3-hover-green">
        <img src="img/games/1.jpg" class="w3-bar-item" style="width:85px">
        <div class="w3-bar-item">
            <span class="w3-large">[game]</span><br>
            <span>★★★★☆</span>
        </div>
    </li>
</ul>