<!DOCTYPE html>
@{ ViewBag.Title = "Página no encontrada";}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    <br />
    <div align="center">
    <font size="3" color="red">
        <strong>Error 404 - Página no encontrada, intente nuevamente!</strong></font>
        <img src="https://media.giphy.com/media/YXtmo5Pw1HfftJ2UUD/giphy.gif" style="width:90%" />
    </div>
</body>
</html>
