@{
    ViewBag.Title = "FAQ";
}
<h2>@ViewBag.Title</h2>
<h3>¿Qué es Insert Coin?</h3>

<p>
    Es una aplicación Web de intercambio de juegos de PS4.
    <br>
    <h3>¿Cómo funciona?</h3>
    Creas tu usuario, pones qué juegos tenes, cuales querés y listo! Ya tenes tu match.
    <br>
    Si no sabes que buscar...Probá nuestro botón para ver todos los juegos disponibles!
</p>
