@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<div class="row" align="center">
    <img src="https://scontent.faep8-2.fna.fbcdn.net/v/t1.0-9/33477500_10156464788733033_5347624575788122112_n.jpg?_nc_cat=0&oh=e06c72ed91988b11634da5d4851d1d83&oe=5BC3C1EA" height="300" width="400">
</div>

<address>
    <strong>Escribinos tu consulta a: </strong>   <a href="mailto:insert-coin@outlook.es">insert-coin@outlook.es</a><br />
</address>